---
title: Timothy Voice
---

<div id="mask"></div>

<div class="branding-band">
  <div class="row">
    <div id="splash" class="small-12 medium-12 large-12 columns branding">
      <div class="fixer">
        <div class="branding-intro small-12 medium-4 large-4 columns">
        <h1 class="branding-title">
          Timothy<br>Voice
        </h1>
        <p class="branding-byline">
          concept code content
        </p>
      </div><!-- branding-intro -->
      </div>
    </div><!-- Branding -->
  </div>
</div>


    
    <div class="projects-ggs-band clearfix">
      <div class="small-12 medium-12 large-12 columns projects-container ggs">
        <div class="row projects-ggs">
          <div class="projects-single">
            <div class="projects-single-container clearfix">
              <div class="show-for-medium-up medium-5 large-5 columns projects-summary">
                <h3 class="projects-single-title">
                  Great Green Sources
                </h3>
                <p class="projects-single-teaser">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, molestias, error dicta earum sed ipsum velit blanditiis provident eveniet et.
                </p>
                <%= link_to 'View Project', '/ggs.html', :relative => true, :class => "small secondary button" %>
              </div><!-- projects-summary -->
              <div class="small-12 medium-7 large-7 columns projects-single-image">
                <%= image_tag 'greatgreensources_color_mockup.png'  %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="projects-octavejournal-band clearfix">
      <div class="small-12 medium-12 large-12 columns projects-container octavejournal">
        <div class="row projects-octavejournal">
          <div class="projects-single">
            <div class="projects-single-container clearfix">
              <div class="show-for-medium-up medium-5 large-5 columns projects-summary">
                <h3 class="projects-single-title">
                  Octave Journal
                </h3>
                <p class="projects-single-teaser">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, molestias, error dicta earum sed ipsum velit blanditiis provident eveniet et.
                </p>
                <%= link_to 'View Project', '/octavejournal.html', :relative => true, :class => "small secondary button" %>
              </div><!-- projects-summary -->
              <div class="small-12 medium-7 large-7 columns projects-single-image">
                <%= image_tag 'octavejournal_color_mockup.png'  %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= partial "about" %>
